{:paths ["src" "resources"]
 :deps {metosin/malli {:mvn/version "0.20.1"}}
 :aliases {;; clj tests: clojure -M:test
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           ;; cljs tests: clojure -M:cljs compile test (shadow-cljs :node-test, runs under node)
           :cljs {:extra-paths ["test"]
                  :extra-deps {thheller/shadow-cljs {:mvn/version "2.28.23"}}
                  :main-opts ["-m" "shadow.cljs.devtools.cli"]}
           ;; release: clojure -T:build jar | deploy (see build.clj)
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.14" :git/sha "1176afd"}
                          slipset/deps-deploy {:mvn/version "0.2.5"}}
                   :ns-default build}}}
